* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 1rem;
    margin-top: 4rem;
}

.canvas {
    border: 2px solid black;
    width: 100%;
    height: auto;
}

.pickers, .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 15px;
    margin-top: 15px;
}

.text-color-picker, .background-color-picker, .font-picker {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-control, #font-size {
    width: 100%;
    padding: 2px;
}

.btn {
    padding: 7px;
    width: 100%;
    border: none;
}

.btn-danger {
    background-color: red;
    color: white;
}

.btn-success {
    background-color: green;
    color: white;
}

.btn-warning {
    background-color: yellow;
    color: black;
}

@media (max-width: 768px) {
    .pickers, .buttons {
        grid-template-columns: 1fr;
    }
}
